@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
 --background-color: #1E1E1E;
 --background-color-opasity: #1e1e1ecd;
 --primary-color:#EC8C4C;
 --secondary-color:#DBDBDB;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body { 
  max-width: 100vw;
  overflow-x: hidden;
 
}

body {
  color: var(--secondary-color);
  background:var(--background-color);
  font-family:'Noto Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.container{
  display: flex;
  flex-direction: column;
  width: 90vh;  
  justify-content: center;
}
.modal{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  display: none;
  justify-content: center;
  align-items: center;
}

.open{
  display: flex;

}
.btn{
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: .5rem 1.5rem;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}
.btn:hover{
  cursor: pointer;
  box-shadow: .75rem .75rem 1.75rem var(--background-color-opasity);
}
.swiper-slide img{
  height: 600px;
  width: 100%;
  margin: 0 auto;
  padding:1rem 15rem;
}

.swiper-container {
  max-width: 1200px;
  max-height: 400px;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
